<table class="tg">
    <tr>
        <td class="tg-6k2t">ID</td>
        <td class="tg-6k2t">Name</td>
        <td class="tg-6k2t">Type</td>
        <td class="tg-6k2t">Duration</td>
        <td class="tg-6k2t">Released</td>
    </tr>
    <tr>
        <td class="tg-6k2t">{{ sheet.id }}</td>
        <td class="tg-6k2t">{{ sheet.name }}</td>
        <td class="tg-6k2t">{{ sheet.type }}</td>
        <td class="tg-6k2t">{{ sheet.duration }}</td>
        <td class="tg-6k2t">{{ sheet.released|date("Y") }}</td>
    </tr>
</table>